@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

html,
body {
  overflow-x: hidden;
}

/* Hide scrollbar while preserving scrolling */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

#Header,
#About,
#Projects,
#Testimonials,
#Contact {
  scroll-margin-top: 88px;
}